<h1 style="text-align:center;font-family:Arial;color:red;"><%= @post.title %></h1>
<div style="width:500px;height:300px;background-color:#c9c9c9;text-align:center;margin:0 auto;">
  
  Author :<%= @post.author %>
  <hr>
  Category :<%= @post.category %>
  <hr>
  <p>
    <%= @post.content %>
  </p>


</div>
<footer style="width:500px;height:70px;background-color:#d9d9d9;text-align:center;margin:0 auto;">
  <span><%= @post.date %></span>
</footer>
